@media (max-width: 1300px)
	.container
		width: 1000px
@media (max-width: 1050px)
	.container
		width: 800px
@media (max-width: 860px)
	.container
		width: 560px
@media (max-width: 575px)
	.container
		width: 100%
	
    