.button, .form input[type="submit"]
    display: flex
    align-items: center
    justify-content: center
    height: 30px
    border: 2px solid $background_color
    padding: 3px 9px
    text-decoration: none
    color: $background_color
    font-size: 18px
    font-weight: bold
    transition: color .5s, background-color .3s
    cursor: pointer
    &:hover
        background-color: $background_color
        color: $text_color

.navigation__button
    margin: 5px 7px

    a
        text-decoration: none
        color: $background_color
        font-size: 18px
        font-weight: 700
        transition: color .5s

    &:hover
        a
            color: $text_color

    &_red
        border-color: rgb(255, 0, 0)
        a
            color: rgb(255, 0, 0)
        &:hover
            background-color: rgb(255, 0, 0)

    &_blue
        border-color: rgb(0, 0, 255)
        a
            color: rgb(0, 0, 255)
        &:hover
            background-color: rgb(0, 0, 255)

    &_green
        border-color: rgb(0, 255, 0)
        a
            color: rgb(0, 255, 0)
        &:hover
            background-color: rgb(0, 255, 0)

a.shop__button
    position: absolute
    left: 50%
    bottom: 10px
    transform: translateX(-50%)
    border-color: $primary_color
    color: $primary_color
    cursor: pointer
    &:hover
        background-color: $primary_color
        color: $background_color

a.article__button, a.news__button, a.reviews__button, a.profile__button, .form input[type="submit"]
    width: fit-content
    height: 3em
    border-color: $text_color
    color: $text_color
    margin-top: 10px
    margin-left: auto
    &:hover
        background-color: $text_color
        color: $background_color

a.news__button
    margin: 25px auto 0px

a.reviews__button, a.profile__button
    margin: 0
    margin-top: 20px

.form input[type="submit"]
    margin: 0
    height: auto


.pagination__button
    width: 30px
    height: 30px
    padding: 0px 4px
    border-color: $text_color
    color: $text_color
    &:hover
        background-color: $text_color
        color: $background_color

    &_active
        background-color: $text_color
        color: $background_color

.contacts__button, .graph__button
    border-color: $text_color
    padding: 0px 4px
    color: $text_color
    &:hover
        background-color: $text_color
        color: $background_color
    &:disabled
        opacity: 0.5

    &_show
        margin-top: 10px
        height: 2em

    &_form
        &-filter, &-premiate, &-add
            height: auto

        &-premiate
            display: block

        &-add
            margin-top: 10px
            height: 1.8em
            border-color: darken($additional_color, 20)
            color: darken($additional_color, 20)
            &:hover
                background-color: darken($additional_color, 20)

.graph__button
    margin: 2px auto 0px
