.company-name
    font-family: 'Cinzel'
    font-kerning: normal
    letter-spacing: 4px

    &_header
        font-weight: 400
        text-decoration: underline

.policy__company-name
    text-decoration: underline
    font-weight: 600

.pill__company-name
    text-align: center
    letter-spacing: 0.25em
    font-size: 0.65em
    color: transparentize($text_color, 0.6)

.scene__company-name
    font-size: 3em