@keyframes company-logo-shaking
    0%
        transform: rotate(0deg)
    20%
        transform: rotate(45deg) translateY(-20px) scale(1.2)
    30%
        transform: rotate(0deg)
    40%
        transform: rotate(-45deg) translateY(20px) scale(1.2)
    50%
        transform: rotate(0deg)
    60%
        transform: rotate(23deg) translateY(-10px) scale(1.1)
    70%
        transform: rotate(0deg)
    80%
        transform: rotate(-23deg) translateY(10px) scale(1.1)
    90%
        transform: rotate(0deg)
    100%
        transform: rotate(0deg) translateY(0px) scale(1)

@keyframes news-scaling
    0%
        transform: scale(1)
    50%
        transform: scale(1.05)
    100%
        transform: scale(1)