{% extends "base.html" %}
{% block title %}Q&A{% endblock title %}
{% block content %}
<section class="faq">
    <h1 class="faq__title">Question and Answer List</h1>

    {% for question in questions %}
        <details class="faq__container">
            <summary class="faq__question">
                {{ question.question }}
            </summary>
            <p class="faq__answer">{{ question.answer }}</p>
            <p class="faq__time"><time datetime="{{question.date_added}}">{{ question.date_added }}</time></p>
        </details>
    {% empty %}
        <p>No questions.</p>
    {% endfor %}
</section>
{% endblock content %}