{% extends "base.html" %}
{% block title %}Order{% endblock title %}
{% block content %}

<section class="profile">
    <div class="profile__item">
        <h1 class="profile__item-name">{{medication.name}}</h1>
        <img class="profile__item-image" src="{{ medication.photo.url }}" alt="{{medication.name}} image">
        <p class="profile__item-cost"><span>{{medication.cost}}$</span></p>
        <p class="profile__item-description">{{medication.description}}</p>
        <p class="profile__item-instruction"><strong>Instruction:</strong> {{medication.instruction}}</p>
        <p class="profile__item-categories"><strong>Categories:</strong>
        {% for category in medication.categories.all %}
        {{category.name}},
        {% empty %}
        no
        {% endfor %}
        </p>
    </div>

    <form method="POST" class="form">
        {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Buy">
    </form>
</section>

{% endblock content %}