{% extends "base.html" %}
{% block title %}Vacancies{% endblock title %}
{% block content %}
<h1>Vacancy List</h1>
<ul>
    {% for vacancy in vacancies %}
        <hr>
        <li>
            <h2>{{ vacancy.position }}</h2>
            <p>Description: {{ vacancy.description }}</p>
            <p>Salary: {{ vacancy.salary }}</p>
            <p>Requirements: {{ vacancy.requirements }}</p>
            <p>Posted Date: {{ vacancy.posted_date }}</p>
        </li>
        <hr>
    {% empty %}
        <li>No vacancies.</li>
    {% endfor %}
</ul>
{% endblock content %}