{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<section class="about-section">
    <h1 class="about-section__title">Welcome to the home page of <span class="company-name company-name_header">Pharmacy</span> </h1>

    {% if company_info %}
        <img class="about-section__logo" src="{{ company_info.logo.url }}" alt="{{company_info.name}} image" style="width: 300px; height: 300px;">
    {% endif %}

</section>

<section class="graph">
    <canvas id="my-chart" width="800"></canvas>
    <button class="button graph__button" id="save-chart">Save chart</button>
</section>

{% if add_banners %}
<section class="add-section">
    <h2 class="add-section__title">See this!</h2>
    <div id="delay" data-value="{{ delay_time }}" style="display: none;"></div>
    <div class="slider">
        <ul class="slider__slides">
            {% for banner in add_banners %}
                <li class="slider__slide">
                    <a href="{{banner.url_reference}}">
                        <img src="{{ banner.banner.url }}" alt="ad image">
                        <p>{{ banner.text }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="slider__counter"></div>
        
        <div class="slider__prev">⮜</div>
        <div class="slider__next">⮞</div>

        <div class="slider__pagination"></div>
    </div>
</section>
{% endif %}

{% if partners %}
<section class="partners">
    <h2 class="partners__title">Our Partners</h2>
    
    <ul class="partners__items">
        {% for partner in partners %}
            <li class="partners__item">
                <a class="partners__item-container-image" href="{{ partner.official_site }}" target="_blank">
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo">
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if news %}
<section class="about-section about-section_news">
    <h2 class="about-section__title_news">Latest news</h2>

    <article class="article about-section__article">
        <h3 class="article__title">{{ news.title }}</h3>
    
        <div class="article__content">
            <img class="article__image" src="{{ news.image.url }}" alt="{{ news.title }}">
            <div class="article__text">
                <p class="article__summary">{{ news.summary }}</p>
                <a class="button article__button" href="{% url 'pharmacy:news_details' news.id %}">Read More</a>
            </div>
        </div>
    
        <p class="article__time"><time>{{ news.posted_date }}</time>
        </p>
    </article>
</section>

<div class="scene">
    <div class="scene__top">
        <div class="scene__pharmacy">
            <div class="scene__pharmacy-cross">+</div>
            <div class="scene__pharmacy-window">
                <div class="scene__salesman">
                    <div class="scene__salesman-head">
                        <div class="scene__salesman-eye"></div>
                        <div class="scene__salesman-eye"></div>
                    </div>
                </div>
            </div>
            <div class="scene__pharmacy-wood"></div>
        </div>

        <div class="scene__customer">
            <div class="scene__customer-leg scene__customer-leg_left">
                <div class="scene__customer-foot"></div>
            </div>
            <div class="scene__customer-leg scene__customer-leg_right">
                <div class="scene__customer-foot"></div>
            </div>

            <div class="scene__customer-arm scene__customer-arm_left">
                <div class="scene__customer-palm"></div>
            </div>

            <div class="scene__customer-scarf">
                <div class="scene__customer-scarf-pip"></div>
            </div>

            <div class="scene__customer-head">
                <div class="scene__customer-eye"></div>
                <div class="scene__customer-eye"></div>
                <div class="scene__customer-mouth"></div>
            </div>

            <div class="scene__customer-arm scene__customer-arm_right">
                <div class="scene__customer-palm">
                    <div class="pill scene__pill">
                        <div class="pill__main"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scene__bottom"></div>

    <div class="scene__company">
        <div class="company-name scene__company-name">{{company_info.name}}</div>
    </div>
</div>
{% endif %}



{% endblock content %}
