{% extends "base.html" %}
{% block title %}{{ news.title }}{% endblock title %}
{% block content %}
<section class="news">
    <h1 class="news__title">{{ news.title }}</h1>
    <p class="news__time">
        <time>{{ news.posted_date }}</time>
    </p>
    
    <img class="news__image" src="{{ news.image.url }}" alt="{{ news.title }}">
    <p class="news__content">{{ news.content }}</p>
    <a class="button news__button" href="{% url 'pharmacy:news' %}">Back to News List</a>
</section>
{% endblock content %}