.policy
    padding: 0px 10px 25px

    &__ruller
        margin-top: 12px
        border-color: $text_color

    &__section
        margin-top: 20px
        &:first-of-type
            margin-top: 25px

    &__subtitle
        font-size: 1.3em

    &__content
        text-align: justify
        margin-top: 7px
        text-indent: 10px
        &::first-letter
            color: $primary_color
            font-weight: 700
    
