{% extends "base.html" %}
{% block title %}Reviews{% endblock title%}
{% block content %}
<h1>Reviews</h1>
{% if reviews %}
    <ul>
        {% for review in reviews %}
            <li>
                <h2>{{ review.full_name }}</h3>
                <p>Rating: {{ review.mark }}</p>
                <p>{{ review.text }}</p>
                <p>Date Added: {{ review.date_added }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No reviews available.</p>
{% endif %}
<a href="{% url 'pharmacy:review_create' %}">Add Review</a>
{% endblock content %}