{% extends "base.html" %}
{% block styles %}
.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}
{% endblock styles %}
{% block title %}Contacts{% endblock title %}
{% block content %}
<h1>Contacts List</h1>
{% if employees %}
<ul>
    {% for employee in employees %}
        <hr>
        <li>
            <h2>{{ employee.user.get_full_name }}</h2>
            <p>Email: {{ employee.user.email }}
            <p>Phone: {{ employee.phone }}</p>
            <p>Position: {{ employee.position }}</p>
            <img class='image' src="{{ employee.photo.url }}" alt="Employee Photo">
            {% if user.is_superuser %}
            <div>
                <a href="{% url "pharmacy:employee_delete" id=employee.id %}">
                    <button>delete</button>
                </a>
                <a href="{% url "pharmacy:employee_update" id=employee.id %}">
                    <button>update</button>
                </a>
            </div>
            {% endif %}
        </li>
        <hr>
    {% endfor %}
</ul>
{% else %}
<hr>
<p>No employees.</p>
{% endif %}
{% if user.is_superuser %}
<hr>
<a href="{% url "pharmacy:employee_create" %}">
    <button>add</button>
</a>
{% endif %}
{% endblock content %}