{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<p><strong>Welcome to the home page</strong></p>
<hr>
{% if company_info %}
<section>
    <h2>Logo of company "{{company_info.name}}"</h2>
    <img src="{{ company_info.logo.url }}" alt="{{company_info.name}} image" style="width: 300px; height: 300px;">
</section>
<hr>
{% endif %}
{% if add_banners %}
<section>
    <h2>Add banners</h2>
    <ul>
        {% for banner in add_banners %}
        <li>
            <p>{{ banner.text }}</p>
            <div><img src="{{ banner.banner.url }}" alt="image" style="width: 400px; height: 300px;"></div>
        </li>
        {% endfor %}
    </ul>
</section>
<hr>
{% endif %}
{% if news %}
<section>
    <h2>Latest news</h2>
    <hr>
    <div>
        <h1>{{ news.title }}</h1>
        <time>{{ news.posted_date }}</time>
        <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width:400px;">
        <p>{{ news.content }}</p>
    </div>
</section>
<hr>
{% endif %}
{% endblock content %}
