{% extends "base.html" %}
{% block title %}News{% endblock title %}
{% block content %}
<h1>News Articles</h1>
{% if news_list %}
    {% for news in news_list %}
            <hr>
            <article>
                <h2>{{ news.title }}</h2>
                <p>
                    <strong>Time posted:</strong><time>{{ news.posted_date }}</time>
                </p>
                <p>{{ news.summary }}</p>
                <div><img src="{{ news.image.url }}" alt="{{ news.title }}" style="width:200px;"></div>
                <div><a href="{% url 'pharmacy:news_details' news.id %}">Read More</a></div>
            </article>
            <hr>
    {% endfor %}
{% else %}
<hr>
<p>No news</p>
{% endif %}
{% endblock content %}